/* Utility classes */
@import "./variables.scss";

/* Text color */
.text-primary-400 {
  color: $clr-primary-400;
}

.text-accent-100 {
  color: $clr-accent-100;
}

.text-accent-400 {
  color: $clr-accent-400;
}

.text-contrast-100 {
  color: $clr-contrast-100;
}
.text-contrast-500 {
  color: $clr-contrast-500;
}
.text-contrast-800 {
  color: $clr-contrast-800;
}

.text-neutral-100 {
  color: $clr-neutral-100;
}

.text-neutral-400 {
  color: $clr-neutral-400;
}

.text-neutral-700 {
  color: $clr-neutral-700;
}

.text-neutral-900 {
  color: $clr-neutral-900;
}

/* Text color */

/* Background color */

.bg-primary-400 {
  background-color: $clr-primary-400;
}

.bg-accent-100 {
  background-color: $clr-accent-100;
}

.bg-accent-400 {
  background-color: $clr-accent-400;
}

.bg-contrast-100 {
  background-color: $clr-contrast-100;
}
.bg-contrast-500 {
  background-color: $clr-contrast-500;
}
.bg-contrast-800 {
  background-color: $clr-contrast-800;
}

.bg-neutral-100 {
  background-color: $clr-neutral-100;
}

.bg-neutral-400 {
  background-color: $clr-neutral-400;
}

.bg-neutral-700 {
  background-color: $clr-neutral-700;
}

.bg-neutral-900 {
  background-color: $clr-neutral-900;
}

/* Background color */

/* Font size */

.fs-300 {
  font-size: $fs-300;
}

.fs-400 {
  font-size: $fs-400;
}

.fs-500 {
  font-size: $fs-500;
}

.fs-600 {
  font-size: $fs-600;
}

.fs-700 {
  font-size: $fs-700;
}

.fs-800 {
  font-size: $fs-800;
}

.fs-900 {
  font-size: $fs-900;
}

/* Font size */

/* Font Weight */

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

/* Font Weight */

/* Layout */

.display-f{display: flex;}

.display-g{display: grid;}

/* Layout */

