$clr-accent-400: hsl(17, 96%, 59%);
$clr-accent-100: hsl(36, 100%, 78%);

$clr-primary-400: hsl(36, 100%, 64%);

$clr-contrast-100: hsl(254, 52%, 65%);
$clr-contrast-500: hsl(254, 50%, 21%);
$clr-contrast-800: hsl(253, 74%, 6%);

$clr-neutral-100: hsl(0, 0%, 71%);
$clr-neutral-400: hsl(0, 0%, 45%);
$clr-neutral-700: hsl(0, 1%, 16%);
$clr-neutral-900: hsl(0, 0%, 5%);

$ff-primary: "Raleway", sans-serif;

$ff-body: $ff-primary;
$ff-heading: $ff-primary;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$fs-300: 0.8125rem;
$fs-400: 0.875rem;
$fs-500: 0.9375rem;
$fs-600: 1rem;
$fs-700: 1.875rem;
$fs-800: 2.5rem;
$fs-900: 3.5rem;

$fs-body: $fs-400;
$fs-primary-heading: $fs-800;
$fs-secondary-heading: $fs-700;
$fs-nav: $fs-500;
$fs-button: $fs-300;

@media (min-width: 50em) {
  $fs-body: $fs-500;
  $fs-primary-heading: $fs-900;
  $fs-secondary-heading: $fs-800;
  $fs-nav: $fs-300;
}
